/* div {
	visibility: hidden;
} */

/* .show {
	visibility: visible;
} */

/* v-cloak magic */
[v-cloak] > * {
	display: none;
}
[v-cloak]::before {
	content: "Loading…";
}

/* No Text Wrap */
.nowrap {
	white-space: nowrap;
}
