{% extends 'base.html' %} {% block content %} {% load static %}
<br /><br /><br />
<div id="loginApp">
	<div v-if="user.username">
		<h2>Welcome [[user.username]]!</h2>
	</div>

	<div v-else>
		<div id="loginForm" style="display: none">
			<p class="btn border-1 border-light" id="registerButton">Register</p>
			{% include 'users/login.html' %}
		</div>
		<div id="registerForm">
			<p class="btn border-1 border-light" id="loginButton">Login</p>
			{% include 'users/register.html' %}
		</div>
	</div>
</div>
{% if request.user.is_authenticated %}
<div id="kanbanApp">
	<div id="kanban-list-page">
		<div v-if="kanban_count > 0">
			<div v-for="kanban in kanbans">
				<div
					class="btn bg-dark text-light border-1 border-light"
					v-on:click="viewKanban(kanban.id)"
				>
					<div class="kanban-header">
						<h3>[[kanban.id]]. [[kanban.name]]</h3>
					</div>
					<div class="kanban-body">
						<p>
							[[kanban.description]]
							<br />
							Created at [[kanban.created_at]]. Last updated at
							[[kanban.updated_at]].
						</p>
					</div>
				</div>
			</div>
		</div>
		<div v-else></div>
		<div class="create-kanban">
			<h2>Create a Kanban</h2>
			<form>
				<div class="form-group">
					<label for="kanban-name">Kanban Name</label>
					<input
						type="text"
						class="form-control"
						id="kanban-name"
						name="name"
						placeholder="Kanban Name"
						v-model="newName"
					/>
				</div>
				<div class="form-group">
					<label for="kanban-description">Kanban Description</label>
					<textarea
						class="form-control"
						id="kanban-description"
						name="description"
						rows="3"
						v-model="newDescription"
					></textarea>
				</div>
				<button
					type="submit"
					class="btn btn-primary"
					v-on:click.prevent="createKanban"
				>
					Create Kanban
				</button>
			</form>
		</div>
	</div>
	<div id="kanban-detail-page">
		<div class="card">
			<h2>[[kanbans.name]]</h2>
			<div class="card-body">
				<h5 class="card-title">[[kanbans.description]]</h5>
				<p class="card-text">
					Created at [[kanbans.created_at]]. Last updated at
					[[kanbans.updated_at]].
				</p>
			</div>
		</div>
		<!-- create column -->
		<div class="create-column">
			<h2>Create a Column</h2>
			<form>
				<div class="form-group">
					<label for="column-name">Column Name</label>
					<input
						type="text"
						class="form-control"
						id="column-name"
						name="name"
						placeholder="Column Name"
						v-model="newColumnName"
					/>
				</div>
				<div class="form-group">
					<label for="column-description">Column Description</label>
					<textarea
						class="form-control"
						id="column-description"
						name="description"
						rows="3"
						v-model="newColumnDescription"
					></textarea>
				</div>
				<button
					type="submit"
					class="btn btn-primary"
					v-on:click.prevent="createColumn"
				>
					Create Column
				</button>
			</form>
		</div>
		<!-- List columns -->
		<div class="column-list">
			<div v-for="column in kanbans.columns">
				<div
					class="btn bg-dark text-light border-1 border-light"
					v-on:click="viewColumn(column.id)"
				>
					<div class="column-header">
						<h3>[[column.id]]. [[column.name]]</h3>
					</div>
					<div class="column-body">
						<p>
							[[column.description]]
							<br />
							Created at [[column.created_at]]. Last updated at
							[[column.updated_at]].
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endif %} {% csrf_token %} {% endblock %}
</div>
