{% block content %} {% load static %}
<h1 class="display">Register</h1>

<form action="{% url 'users:register' %}" method="POST" class="auth-form">
	{% csrf_token %}
	<div class="container">
		<div class="row">
			<label for="first-name-field">First Name</label>
			<div class="col-1">
				<input type="text" name="first-name" id="first-name-field" />
			</div>
		</div>
		<div class="row">
			<label for="last-name-field">Last Name</label>
			<div class="col-1">
				<input type="text" name="last-name" id="last-name-field" />
			</div>
		</div>
		<div class="row">
			<label for="username-field">Username</label>
			<div class="col-1">
				<input type="text" name="username" id="register-username-field" />
			</div>
		</div>
		<div class="row">
			<label for="email-field">Email</label>
			<div class="col-1">
				<input type="email" name="email" id="email-field" />
			</div>
		</div>
		<div class="row">
			<label for="password-field">Password</label>
			<div class="col-1">
				<input type="password" name="password" id="register-password-field" />
			</div>
		</div>
		<div class="row">
			<div class="col-1">
				<button class="loginSubmit" type="submit">Submit</button>
			</div>
		</div>
	</div>
</form>

{% endblock content %}
